<div class="pad" id="log" >
    <div class="container p-2">
        <div class="form-group p-5 card border-info text-center aparecer">
            <div class="row text-center  swipe-left">
                
                    <div class="col-m-6">
                        <div class="aparecer align-content-center align-items-center bor border-info bg p-2">
                            <img src="../../../assets/animals.png" width="50" height="50">
                        </div>
                        
                    </div> 
                    <div class="col-m-6">
                        <h3 class="color-font mt-4">Huacamajob</h3>
                    </div>
                
            </div>
            <br>
            <div class="row swipe-left">
                <div class="input-group flex-nowrap zoom">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-text" id="addon-wrapping">@</span>
                    </div>
                    <input type="text" class="form-control border-info" placeholder="Usuario" aria-label="Usuario" aria-describedby="addon-wrapping">
                  </div>
            </div>
            <br>
            <div class="row swipe-left">
                <div class="input-group flex-nowrap zoom">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-text" id="addon-wrapping">**</span>
                    </div>
                    <input type="password" class="form-control border-info" placeholder="Contraseña" aria-label="Contraseña" aria-describedby="addon-wrapping">
                  </div>
            </div>
            <br>
            <div>
                <button class="btn btn-outline-success form-control swipe-left zoom">
                    Iniciar sesion
                </button>
            </div>
            <hr class="bg">
            <div class="text-center swipe-left" style="width: 100%;">
                <a class="btn btn-outline-primary form-control" href="#">¿Olvidaste tu contraseña?</a>
            </div>
            
        </div>
    </div>
</div>

