<div id="follow" class=" p-5 back">

    <div class="row m-5">
        <div class="col-m-6 p-3 align-items-center align-content-center">
            <img src="../../../assets/animals.svg" width="360" height="360">
        </div>
        <div class="col-m-3 p-3 text-center align-content-center align-items-center">

            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active">
                    <h4>Huacamajob</h4>
                </a>
                <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item list-group-item-action" tabindex="-1" aria-disabled="true">Vestibulum at eros</a>
            </div>
        </div>
        <div class="col-m-3 p-3 text-center align-content-center align-items-center">
            <h3>Founders</h3>
        </div>
    </div>


</div>