<nav class="navbar navbar-expand-lg navbar-dark bg ">
    <a class="navbar-brand" href="#"><img src="../../../assets/animals.svg" width="30" height="30">Huacamajob</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto align-item-center text-center">
            <li class="nav-item" routerLinkActive="active">
                <a [routerLink]="['/home']" class="nav-link ace" href="#"> <img class="res" src="../../../assets/home.svg"> Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a [routerLink]="['/about-us']" class="nav-link ace" href="#"> <img class="res" src="../../../assets/aboutus.svg"> Conocenos</a>
            </li>
            <!-- <li class="nav-item" routerLinkActive="active">
                <a [routerLink]="['/follow-us']" class="nav-link ace" href="#"> <img class="res" src="../../../assets/followus.svg"> Follow us</a>
            </li> -->
            

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-warning my-2 my-sm-0" type="button">Registrate</button>
            <button [routerLink]="['/log-in']"  class="btn btn-outline-light my-2 my-sm-0" type="button">Iniciar sesion</button>
        </form>
    </div>
</nav>

<!-- Ultimo cambio -->