<div id="full" class=" overflow-hidden  m-md-3 text-center fondo swipe-right">
    <div class="col-md-12 p-lg-12 mx-auto my-12 bg-h swipe-up box wrapper">
        <img src="../../../assets/animals.png" width="100px" height="100px">
        <h4>Join and be part of this</h4>
        <h4>independent community</h4>
        <button class="btn btn-outline-light">Sign in</button>
    </div>


</div>