.fondo {
    background: url('../../../assets/trabajador.jpg');
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

.bg-h {
    background-color: rgba(27, 79, 114, 0.856) !important;
    padding-top: 0% !important;
    padding-bottom: 5px !important;
    margin-top: 19% !important;
    margin-bottom: 14% !important;
}

h4 {
    color: white;
}


/*DIV DIAGONAL*/

.box {
    background-color: skyblue;
    margin-top: 50px;
    padding: 5% 20px;
    /* Added a percentage value for top/bottom padding to keep the wrapper inside of the parent */
    -webkit-transform: skewY(-5deg);
    -moz-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    -o-transform: skewY(-5deg);
    transform: skewY(-5deg);
}

.box>.wrapper {
    -webkit-transform: skewY(5deg);
    -moz-transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    -o-transform: skewY(5deg);
    transform: skewY(5deg);
}


/*Responsive*/

@media only screen and (max-width: 970px) {
    .fondo {
        background: url();
        background-color: #1B4F72;
    }
    img {
        width: 260px;
        height: 260px;
    }
}