.imgAbo {
    position: absolute;
    left: 45%;
    top: 48%;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

img {
    width: 80px;
    height: 80px;
}

.texA {
    color: #c5970d !important;
}

.texA:hover {
    color: white !important;
    font-style: bold;
}

@media only screen and (max-width: 800px) {
    .imgAbo {
        display: none;
    }
    img {
        width: 0px;
        height: 0px;
    }
}