<div id="about" class="align-content-center align-items-center">
    <div class=" pl-4 p-3 mt-0 m-3 text-center">
        <div class="row">
            <div class="swipe-right zoom texA col-m-5 p-md-3 ajustar card btn-outline-warning border-warning">
                <h3>Mission</h3>
                <p>
                    ¿Qué es Lorem Ipsum? Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta)
                    desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.
                </p>
            </div>

            <div class="col-m-1 p-1"></div>
            <div class="swipe-right zoom texA col-m-5  p-md-3 ajustar card btn-outline-warning border-warning">
                <h3>View</h3>
                <p>
                    ¿Qué es Lorem Ipsum? Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta)
                    desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.
                </p>
            </div>
        </div>
        <hr class="bg">
        <div class="row">
            <div class="swipe-right zoom col-m-5 p-md-3 ajustar card btn-outline-primary border-primary">
                <h3>¿Why?</h3>
                <p>
                    ¿Qué es Lorem Ipsum? Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta)
                    desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.
                </p>
            </div>
            <div class="col-m-1 p-1"></div>
            <div class="swipe-right zoom col-m-5 p-md-3 ajustar card btn-outline-danger border-danger">
                <h3>¿For whom?</h3>
                <p>
                    ¿Qué es Lorem Ipsum? Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta)
                    desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.
                </p>
            </div>
        </div>


    </div>
</div>