/* You can add global styles to this file, and also import other style files */

body {
    overflow: hidden;
    width: auto;
    height: auto;
}



@keyframes colores {
    0% {
        background-color: rgba(27, 79, 114, 0.856);
    }
    20% {
        background-color: rgba(27, 79, 114, 0.856);
    }
    40% {
        background-color: rgba(212, 172, 13, 0.856);
    }
    60% {
        background-color: rgba(46, 134, 193, 0.856);
    }
    80% {
        background-color: rgba(167, 29, 29, 0.856);
    }
    100% {
        background-color: rgba(27, 79, 114, 0.856);
    }
}


/*Animaciones de entrada*/

.swipe-up {
    animation: up 3s, colores 6s;
}

@keyframes up {
    25% {
        opacity: 0%;
        top: 700px;
    }
    50% {
        opacity: 50%;
        top: 350px;
    }
    100% {
        opacity: 100%;
        top: 0px;
    }
}

.swipe-right {
    animation: ri 3s;
}

@keyframes ri {
    from {
        opacity: 0%;
        left: 700px;
    }
    to {
        opacity: 100%;
        left: 0px;
    }
}

.swipe-left {
    animation: lef 3s;
}

@keyframes lef {
    from {
        opacity: 0%;
        right: 700px;
    }
    to {
        opacity: 100%;
        right: 0px;
    }
}

.aparecer {
    animation: apar 3s;
}

@keyframes apar {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.vertical {
    border: none;
    border-left: 1px solid hsla(200, 10%, 50%, 100);
    height: 100vh;
    width: 1px;
}

.ajustar {
    width: 49%;
}

.res {
    width: 0px;
    height: 0px;
}

.pad{
    padding-top: 3rem;
    padding-left: 20rem;
    padding-right: 20rem;
}

@media only screen and (max-width: 940px) {
    .ajustar {
        width: 100%;
    }
    .res {
        width: 20px;
        height: 20px;
    }
    body {
        overflow: auto;
    }

    .pad{
        padding: .5rem;
    }
}

.bg {
    background-color: #1B4F72 !important;
}

.bg-text{
    background-color: #1B4F72 !important;
    color: white !important;
    
}
.zoom {
    transition: transform 0.5s;
}

.zoom:hover {
    transform: scale(1.03);
    cursor: pointer;
    
}
.bor{
    border-radius: 100%;
    
}

.color-font {
    color: #1B4F72 !important;
    font-style: italic !important;
}

